// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #b0fbec;
$secondary : #e49ab0ff;
$accent    : #904c77ff;

$dark      :  #4f404f;

$positive  : #21BA45;
$negative  : #c2005e;
$info      : #6096fd;
$warning   : #ecb8a5ff;

